<a href="https://colab.research.google.com/github/Ksenia-90/Machine_learning-_in_business/blob/lesson_6/HW6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Урок 6. Задача lookalike (Positive Unlabeled Learning)

Домашнее задание
1. взять любой набор данных для бинарной классификации (можно скачать один из модельных с https://archive.ics.uci.edu/ml/datasets.php)
2. сделать feature engineering
3. обучить любой классификатор (какой вам нравится)
4. далее разделить ваш набор данных на два множества: P (positives) и U (unlabeled). Причем брать нужно не все положительные (класс 1) примеры, а только лишь часть
5. применить random negative sampling для построения классификатора в новых условиях
6. сравнить качество с решением из пункта 4 (построить отчет - таблицу метрик)
7. поэкспериментировать с долей P на шаге 5 (как будет меняться качество модели при уменьшении/увеличении размера P)

https://www.kaggle.com/uciml/breast-cancer-wisconsin-data

In [16]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv("/content/drive/My Drive/Colab Notebooks/data_w.csv")

In [18]:
df.head()

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    842302         M  ...                  0.11890          NaN
1    842517         M  ...                  0.08902          NaN
2  84300903         M  ...                  0.08758          NaN
3  84348301         M  ...                  0.17300          NaN
4  84358402         M  ...                  0.07678          NaN

[5 rows x 33 columns]

In [19]:
print(df.shape)

(569, 33)

In [20]:
from sklearn.preprocessing import LabelEncoder
label_encode = LabelEncoder()
labels = label_encode.fit_transform(df['diagnosis'])
df['target'] = labels
df.drop(columns=['id','diagnosis'], axis=1, inplace=True)

In [21]:
df.describe()

       radius_mean  texture_mean  ...  Unnamed: 32      target
count   569.000000    569.000000  ...          0.0  569.000000
mean     14.127292     19.289649  ...          NaN    0.372583
std       3.524049      4.301036  ...          NaN    0.483918
min       6.981000      9.710000  ...          NaN    0.000000
25%      11.700000     16.170000  ...          NaN    0.000000
50%      13.370000     18.840000  ...          NaN    0.000000
75%      15.780000     21.800000  ...          NaN    1.000000
max      28.110000     39.280000  ...          NaN    1.000000

[8 rows x 32 columns]

In [22]:
from sklearn.model_selection import train_test_split

x_data = df.iloc[:,:-1]
y_data = df.iloc[:,-1]

x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, test_size=0.2, random_state=7)

In [23]:
import xgboost as xgb

model = xgb.XGBClassifier()

model.fit(x_train, y_train)
y_predict = model.predict(x_test)

In [24]:
from sklearn.metrics import recall_score, precision_score, roc_auc_score, accuracy_score, f1_score

def evaluate_results(y_test, y_predict):
    print('Classification results:')
    f1 = f1_score(y_test, y_predict)
    print("f1: %.2f%%" % (f1 * 100.0)) 
    roc = roc_auc_score(y_test, y_predict)
    print("roc: %.2f%%" % (roc * 100.0)) 
    rec = recall_score(y_test, y_predict, average='binary')
    print("recall: %.2f%%" % (rec * 100.0)) 
    prc = precision_score(y_test, y_predict, average='binary')
    print("precision: %.2f%%" % (prc * 100.0)) 

    
evaluate_results(y_test, y_predict)

Classification results:
f1: 96.10%
roc: 96.25%
recall: 92.50%
precision: 100.00%

### Теперь очередь за PU learning

In [25]:
mod_df = df.copy()
pos_ind = np.where(mod_df.iloc[:,-1].values == 1)[0]
np.random.shuffle(pos_ind)
pos_sample_len = int(np.ceil(0.25 * len(pos_ind)))
print(f'Using {pos_sample_len}/{len(pos_ind)} as positives and unlabeling the rest')
pos_sample = pos_ind[:pos_sample_len]

Using 53/212 as positives and unlabeling the rest

In [26]:
mod_df['class_test'] = -1
mod_df.loc[pos_sample,'class_test'] = 1
print('target variable:\n', mod_df.iloc[:,-1].value_counts())

target variable:
 -1    516
 1     53
Name: class_test, dtype: int64

In [27]:
mod_df.head(10)

   radius_mean  texture_mean  perimeter_mean  ...  Unnamed: 32  target  class_test
0        17.99         10.38          122.80  ...          NaN       1          -1
1        20.57         17.77          132.90  ...          NaN       1          -1
2        19.69         21.25          130.00  ...          NaN       1          -1
3        11.42         20.38           77.58  ...          NaN       1          -1
4        20.29         14.34          135.10  ...          NaN       1          -1
5        12.45         15.70           82.57  ...          NaN       1          -1
6        18.25         19.98          119.60  ...          NaN       1          -1
7        13.71         20.83           90.20  ...          NaN       1          -1
8        13.00         21.82           87.50  ...          NaN       1          -1
9        12.46         24.04           83.97  ...          NaN       1           1

[10 rows x 33 columns]

In [29]:
x_data = mod_df.iloc[:,:-2].values
y_labeled = mod_df.iloc[:,-1].values 
y_positive = mod_df.iloc[:,-2].values

random negative sampling

In [30]:
mod_df = mod_df.sample(frac=1)
neg_sample = mod_df[mod_df['class_test']==-1][:len(mod_df[mod_df['class_test']==1])]
sample_test = mod_df[mod_df['class_test']==-1][len(mod_df[mod_df['class_test']==1]):]
pos_sample = mod_df[mod_df['class_test']==1]
print(neg_sample.shape, pos_sample.shape)
sample_train = pd.concat([neg_sample, pos_sample]).sample(frac=1)

(53, 33) (53, 33)

In [31]:
model = xgb.XGBClassifier()

model.fit(sample_train.iloc[:,:-2].values, 
          sample_train.iloc[:,-2].values)
y_predict = model.predict(sample_test.iloc[:,:-2].values)
evaluate_results(sample_test.iloc[:,-2].values, y_predict)

Classification results:
f1: 88.61%
roc: 93.40%
recall: 96.55%
precision: 81.87%